@model MS_Fika.Models.Group

@{
    ViewBag.Title = "Grup Nou";
}


<h2 class="text-center mt-5">Creare grup</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "New", controllerName: "Groups",
            method: FormMethod.Post))
            {

                <input type="hidden" name="GroupAdminId" value="ViewBag.UserCurent">

                @Html.ValidationSummary(false, "", new{@class="text-danger"})

                <br />

                @Html.Label("GroupName", "Nume grup")
                <br />
                @Html.TextArea("GroupName", null, new { @class = "form-control" })

                @Html.ValidationMessage("GroupName", null, new { @class = "text-danger" })
                <br />

                <br />

                @Html.Label("Description", "Descriere grup")
                <br />
                @Html.TextArea("Description", null, new { @class = "form-control" })

                @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
                <br />

                <br />

                <button class="btn culoarebuton3" type="submit">Adauga grup</button>

            }

        </div>
    </div>
</div>








