@model MS_Fika.Models.Post

@{
    ViewBag.Title = "Postari";
}

@if (ViewBag.Message != null)
{
    <h2 class="cardheader4 p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}


<div class="jumbotron d-flex justify-content-end flex-row mt-4">
    <div class="cont">
        <a href="/Posts/New"><i class="bi bi-patch-plus-fill culoarebuton6"></i></a>
    </div>
</div>


    @if(ViewBag.existaprofil==0)
    {
    <h1 class="fontbun text-center mt-5">Inainte de toate, creeaza-ti un profil!</h1>
    <br >
        <div class="d-flex flex-column justify-content-center">
            <a class="btn2 d-flex flex-column justify-content-center text-light text-decoration-none text-center fontbun rounded-3" href="/Profiles/New/">Creeaza profil</a>
        </div>
    }

    else{
    @if (ViewBag.postariprieteni == null && ViewBag.Posts == null)
    {
        <h2 class="fontbun text-center mt-5">Momentan, nu avem nicio postare pentru tine.</h2>
        <br />
        <h3 class="fontbun text-center">Adauga un prieten sau alatura-te unui grup!</h3>

        <br />
        <br />



        <div class="d-flex  culoarebuton flex-row justify-content-between p-3 ">

            <a class="btn culoaresus w" href="/Groups/Index/">Catre grupuri</a>
            <a class="btn culoaresus w" href="/Profiles/SearchBar/">Cauta un profil</a>


        </div>


    }

    else
    {
        <div class="d-flex justify-content-center flex-row mt-3">
            <h2 class="fontbun culoarebuna">Postari noi</h2>
        </div>
        <br />
    }

    }
    









<br />

@if (ViewBag.existapostariprieteni == 1)
{
    <h4 class="fontbun text-center">Postarile prietenilor tai</h4>
    <br />

    @foreach (var post in ViewBag.postariprieteni)
    {
        @if (post.GroupId == null)
        {
            <div class="container2 d-flex justify-content-center flex-row mt-3 fontbun">
                <div class=" text-bg-blue mb-3" style="width: 45rem;">
                    <div class="card-header3 row rounded-2">

                        @foreach (var p in ViewBag.proff)
                        {
                            @if (p.UserId == post.UserId)
                            {
                                <a class="fw-bold col-md-8 d-inline justify-content-start text-decoration-none" href="/Profiles/Show/@p.ProfileId">@post.User.UserName</a>
                            }
                        }

                        
                        <div class="container d-inline">
                        </div>

                        <div class="container d-inline">
                        </div>
                        <div class="container d-inline">
                        </div>
                         <div class="container d-inline">
                        </div>

                        <div class="container d-inline">
                        </div>

                        <div class="container d-inline">
                        </div>

                        <div class="container d-inline">
                        </div>

                        <div class="container d-inline">
                        </div>

                        <div class="container d-inline">
                        </div>

                        <div class="container d-inline">
                        </div>

                        <div class="container d-inline">
                        </div>

                        <div class="container d-inline">
                        </div>

                        <div class="container d-inline">
                        </div>

                        <div class="container d-inline">
                        </div>

                        <div class="container d-inline">
                        </div>

                        <span class="col-md-4">@post.PostDate.ToLongDateString()</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@post.PostContent</p>

                        <a class="btn culoaresus d-flex justify-content-center text-light" href="/Posts/Show/@post.PostId">Afisare postare</a>
                    </div>
                </div>
            </div>

            <br>
            <br>
        }


    }


    <br />
}

@if (ViewBag.existapostariingrup == 1)
{
    <h4 class="fontbun text-center">Postari din grupurile tale</h4>
    <br />

    @foreach (var post in ViewBag.Posts)
    {
        @if (@post.Group != null)
        {
            <div class="container2 d-flex justify-content-center flex-row mt-3 fontbun">
                <div class=" text-bg-blue d-flex justify-content-center mb-3" style="width: 45rem;">

                    <div class="card-header3 rounded-2 row position-absolute w-25">

                        @foreach (var p in ViewBag.proff)
                        {
                            @if (p.UserId == post.UserId)
                            {
                                <a class="fw-bold col-md-8 d-inline justify-content-start text-decoration-none" href="/Profiles/Show/@p.ProfileId">@post.User.UserName</a>
                            }
                        }


                        <a class="culoarebuton9  d-inline text-decoration-none" href="/Groups/Show/@post.GroupId"><i class="bi bi-people-fill"></i></a>




                        <span class="col-md-4">@post.PostDate.ToLongDateString()</span>
                    </div>
                    <div class="card-body">
                        <br>
                        <br>

                        <p class="card-text">@post.PostContent</p>

                        <a class="btn culoaresus d-flex justify-content-center text-light" href="/Posts/Show/@post.PostId">Afisare postare</a>
                    </div>

                </div>
            </div>

            <br>
            <br>
        }
    }
}